{% extends "base.html" %}
{% block content %}

<!-- Template for page listing all news articles and basic details -->
<div class="container">
    <!-- Checks if user is admin / superuser before allowing them to post under their username -->
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <a href="{% url 'add_article' %}" class="btn btn-success">Add Article</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <!-- List all posts. Can be viewed by any user -->
        {% for article in articles %}
        <div class="col-12 col-md-12 col-lg-3 my-5">
            <div class="card shadow my-3 mx-2 p-3">
                <h6>Author:</h6>{{article.user}}
                <hr>
                <br>

                <h6>Headline:</h6>{{article.headline}}
                <hr>
                <br>

                <h6>Topic:</h6>{{article.topic}}
                <hr>
                <br>

                <h6>Date Published:</h6>{{article.date}}
                <hr>
                <br>

                <a href="{% url 'view_article' article.id %}" class="btn btn-success">View Article</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}