<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="memberships-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Memberships
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="members-access-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members Access
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blog-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="referal-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Referals
            </a>
        </li>

        <!-- Dropdown for future categories 
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="New-item-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="New-item-link">
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>                
            </div>
        </li> -->

        <!-- Dropdown for future categories 
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="New-item-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="New-item-link">
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>                
            </div>
        </li> -->

        <!-- Dropdown for future categories 
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="New-item-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="New-item-link">
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>
                <a href="" class="dropdown-item">New items</a>                
            </div>
        </li> -->
    </ul>
</div>